@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: hidden;
}


/* Slider config */
.carousel .slide {
    text-align: start !important;
}

/* Configure blog content */
.blog-content h1 {
    font-size: 2.125rem !important;
    font-weight: bold;
}

.blog-content h2 {
    font-size: 1.875rem !important;
    font-weight: bold;
}

.blog-content h3 {
    font-size: 1.5rem !important;
    font-weight: bold;
}

.blog-content h4 {
    font-size: 1.25rem !important;
    font-weight: bold;
}

.blog-content h5 {
    font-size: 1rem !important;
    font-weight: bold;
}

.blog-content h5 {
    font-size: 1.125rem !important;
    font-weight: bold;
}

.blog-content ol {
    list-style: decimal !important;
}

.blog-content ul {
    list-style: disc !important;
}

.blog-content a {
    color: blue;
}

.blog-content a:hover {
    text-decoration: underline;
}